
@font-face {
	font-family: 'KanitLight';
	src: local('KanitLight'), local('KanitLight'),
	url(/hdc_mrp_general_report/static/src/fonts/KanitLight.ttf) format('truetype');
}

.img-logo {
	position: relative;
	left: -10px;
	top: 25px;
  }
