// black
@font-face {
    font-family: "kanit-black";
    src: url("/custom_fonts/static/src/fonts/Kanit-Black.ttf") format("truetype");
}
// black italic
@font-face {
    font-family: "kanit-blackitalic";
    src: url("/custom_fonts/static/src/fonts/Kanit-BlackItalic.ttf") format("truetype");
}
// bold
@font-face {
    font-family: "kanit-bold";
    src: url("/custom_fonts/static/src/fonts/Kanit-Bold.ttf") format("truetype");
}
// bold italic
@font-face {
    font-family: "kanit-bolditalic";
    src: url("/custom_fonts/static/src/fonts/Kanit-BoldItalic.ttf") format("truetype");
}
// extra bold
@font-face {
    font-family: "kanit-extrabold";
    src: url("/custom_fonts/static/src/fonts/Kanit-ExtraBold.ttf") format("truetype");
}
// extra bold italic
@font-face {
    font-family: "kanit-extrabolditalic";
    src: url("/custom_fonts/static/src/fonts/Kanit-ExtraBoldItalic.ttf") format("truetype");
}
// extra light
@font-face {
    font-family: "kanit-extralight";
    src: url("/custom_fonts/static/src/fonts/Kanit-ExtraLight.ttf") format("truetype");
}
// extra light italic
@font-face {
    font-family: "kanit-extralightitalic";
    src: url("/custom_fonts/static/src/fonts/Kanit-ExtraLightItalic.ttf") format("truetype");
}
// italic
@font-face {
    font-family: "kanit-italic";
    src: url("/custom_fonts/static/src/fonts/Kanit-Italic.ttf") format("truetype");
}
// light
@font-face {
    font-family: "kanit-light";
    src: url("/custom_fonts/static/src/fonts/Kanit-Light.ttf") format("truetype");
}
// light italic
@font-face {
    font-family: "kanit-lightitalic";
    src: url("/custom_fonts/static/src/fonts/Kanit-LightItalic.ttf") format("truetype");
}
// medium
@font-face {
    font-family: "kanit-medium";
    src: url("/custom_fonts/static/src/fonts/Kanit-Medium.ttf") format("truetype");
}
// medium italic
@font-face {
    font-family: "kanit-mediumitalic";
    src: url("/custom_fonts/static/src/fonts/Kanit-MediumItalic.ttf") format("truetype");
}
// regular
@font-face {
    font-family: "kanit-regular";
    src: url("/custom_fonts/static/src/fonts/Kanit-Regular.ttf") format("truetype");
}
// semibold
@font-face {
    font-family: "kanit-semibold";
    src: url("/custom_fonts/static/src/fonts/Kanit-SemiBold.ttf") format("truetype");
}
// semibold italic
@font-face {
    font-family: "kanit-semibolditalic";
    src: url("/custom_fonts/static/src/fonts/Kanit-SemiBoldItalic.ttf") format("truetype");
}
// thin
@font-face {
    font-family: "kanit-thin";
    src: url("/custom_fonts/static/src/fonts/Kanit-Thin.ttf") format("truetype");
}
// thin
@font-face {
    font-family: "kanit-thin";
    src: url("/custom_fonts/static/src/fonts/Kanit-ThinItalic.ttf") format("truetype");
}

